Bluxmix Nodered
[{"id":"a897a22f.51d2f","type":"ibmiot in","z":"ea82e9b.4f62618","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"ToReceiveRFID ","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":103.5,"y":718,"wires":[["d986002f.335f2","e25ef86c.e2b748","b1233e52.d6a36"]]},{"id":"e25ef86c.e2b748","type":"cloudant out","z":"ea82e9b.4f62618","name":"RFIDHistory","cloudant":"","database":"rfidhistory","service":"MobileRFIDReading-cloudantNoSQLDB","payonly":true,"operation":"insert","x":323.5,"y":744,"wires":[]},{"id":"d986002f.335f2","type":"debug","z":"ea82e9b.4f62618","name":"rfid received","active":true,"console":"false","complete":"payload","x":322.5,"y":819,"wires":[]},{"id":"5392d26b.f6919c","type":"http response","z":"ea82e9b.4f62618","name":"","x":973,"y":554,"wires":[]},{"id":"b71dce6a.2a5f4","type":"http in","z":"ea82e9b.4f62618","name":"/ReadRFID","url":"/ReadRFID","method":"get","swaggerDoc":"","x":105,"y":475,"wires":[["426b470b.a11388"]]},{"id":"426b470b.a11388","type":"cloudant in","z":"ea82e9b.4f62618","name":"","cloudant":"","database":"rfidhistory","service":"MobileRFIDReading-cloudantNoSQLDB","search":"_all_","design":"newDesign","index":"newSearch","x":328.5,"y":475,"wires":[["f1b7a411.33b408","6758adbf.305864"]]},{"id":"b1233e52.d6a36","type":"function","z":"ea82e9b.4f62618","name":"","func":"\nreturn {payload:msg.payload.d.value};","outputs":1,"noerr":0,"x":307.5,"y":659,"wires":[["4b9c8fe9.8710d","240369e8.72eea6"]]},{"id":"4b9c8fe9.8710d","type":"debug","z":"ea82e9b.4f62618","name":"","active":true,"console":"false","complete":"false","x":541.5,"y":562,"wires":[]},{"id":"6758adbf.305864","type":"function","z":"ea82e9b.4f62618","name":"Extract one line","func":"var msgs = [];\nvar lengthi = msg.payload.length - 1;\nfor (var i=0; i<msg.payload.length; i++){\n    msgs.push({payload:msg.payload[i]});\n}\n\nmsgs[lengthi].req  = msg.req;\nmsgs[lengthi].res = msg.res;\n\nreturn [msgs[lengthi],msg.payload.length];","outputs":1,"noerr":0,"x":551.5,"y":514,"wires":[["72de973b.29e378","5392d26b.f6919c"]]},{"id":"bd0da862.2db078","type":"function","z":"ea82e9b.4f62618","name":"Extract Value","func":"var msgs = [];\nfor (var i=0; i<msg.payload.length; i++){\n    msgs.push({payload:msg.payload[i]});\n}\n\nvar newMsg ={payload: {'RFID': msgs[0].payload.d.value,\n          'status':'Done'\n         }};\n\nnewMsg.req  = msg.req;\nnewMsg.res = msg.res;\n\nreturn newMsg;","outputs":"1","noerr":0,"x":520,"y":387,"wires":[["497014f3.137f1c","7e9c94cc.6b9ddc"]]},{"id":"7e9c94cc.6b9ddc","type":"template","z":"ea82e9b.4f62618","name":"format html page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n\t<title></title>\n</head>\n<body>\n<h2 style=\"text-align: center;\">Production Status Checking</h2>\n\n<p>Customer ID:&nbsp;<input maxlength=\"20\" name=\"id\" size=\"20\" type=\"text\" />&nbsp; &nbsp;<input name=\"check\" type=\"button\" value=\"Checking\" /></p>\n\n<table align=\"left\" border=\"1\" cellpadding=\"1\" cellspacing=\"1\" style=\"width:250px;\">\n\t<tbody>\n\t\t<tr>\n\t\t\t<td>Product ID</td>\n\t\t\t<td>{{payload.RFID}}</td>\n\t\t</tr>\n\t\t<tr>\n\t\t\t<td>Current Status</td>\n\t\t\t<td>{{payload.status}}</td>\n\t\t</tr>\n\t\t<tr>\n\t\t\t<td>Production Date</td>\n\t\t\t<td>unknown</td>\n\t\t</tr>\n\t</tbody>\n</table>\n\n<p>&nbsp;</p>\n</body>\n</html>\n","x":736.5,"y":434,"wires":[["6660b14a.df994"]]},{"id":"497014f3.137f1c","type":"debug","z":"ea82e9b.4f62618","name":"HTML TEST","active":true,"console":"false","complete":"payload","x":715,"y":339,"wires":[]},{"id":"6660b14a.df994","type":"debug","z":"ea82e9b.4f62618","name":"","active":true,"console":"false","complete":"false","x":970,"y":345,"wires":[]},{"id":"72de973b.29e378","type":"debug","z":"ea82e9b.4f62618","name":"Extracted Output","active":true,"console":"false","complete":"payload","x":788.5,"y":585,"wires":[]},{"id":"f1b7a411.33b408","type":"debug","z":"ea82e9b.4f62618","name":"Cloud Output","active":true,"console":"false","complete":"payload","x":471,"y":334,"wires":[]},{"id":"ddbdc5bf.c89248","type":"twilio out","z":"ea82e9b.4f62618","service":"_ext_","twilio":"12b05b34.7c2d25","from":"","number":"+554196770753","name":"Yongxin LIAO","x":555.5,"y":765,"wires":[]},{"id":"fc4dc3a5.0860e","type":"e-mail","z":"ea82e9b.4f62618","server":"smtp.gmail.com","port":"465","name":"raspberrypisystem1@gmail.com","dname":"RPi","x":527.5,"y":710,"wires":[]},{"id":"240369e8.72eea6","type":"twitter out","z":"ea82e9b.4f62618","twitter":"","name":"Tweet","x":527.5,"y":649,"wires":[]},{"id":"12b05b34.7c2d25","type":"twilio-api","z":"ea82e9b.4f62618","sid":"ACd7c4727df3271de59d7077296d238c01","from":"+13852824338","name":"Yongxin LIAO"}]
